.input-line {
    margin: 10px;
    padding: 10px;
    align-items: top;
    justify-content: top;
    text-align: left;
    vertical-align: top;
}
.title {
    caret-color: transparent;
    font-size: 23px;
}
.input-box{
    caret-color: black;
}
.checked-item {
    text-decoration: line-through;
  }
.form {
    background-color: rgb(86, 87, 139);
    padding: 10px;
    max-width: 800px;
}
.input-box-header {
    display: flex;
}
.grid-element-h{
    flex: 30%;
    vertical-align: center;
    margin: 0;
    font-size: 23px;
}
.grid-element-d{
    flex: 70%;
    height: 40px;
    font-size: 23px;
}
.menu-item{
    size: 100%;
    width: 400px;
    height: 40px;
    list-style-type: none;
    font-size: 15px;
}
.dropdown{
    size: 100%;
    flex: 70%;
}
.menu{
    margin: 10;
    padding: 0;
}
.submit-buttton{
    display: flex;
    justify-content: center;
    align-content: center;
}