.Main {
  text-align: center;
}

.Main-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .Main-logo {
    animation: Main-logo-spin infinite 20s linear;
  }
}

.Main-header {
  background-color: rgb(41, 45, 80);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.description{
  padding: 0px 40px;
  font-size: 23px;
  margin-top: 0;
}
.main-title{
  padding: 0px 20px;
  font-size: 50px;
}
.credits{
  padding: 0px 40px;
  font-size: 15px;
  margin-top: 10px;
}
